<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
            
            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <p>{{ post.image|linebreaksbr }}</p>
                    <img src="images/{{ post.image}}" alt="写真" width="193" height="130">
                    <a href="https://matsuta03.pythonanywhere.com/admin/" target="_blank">編集</a>
                </div>
                    {% endfor %}


        
</html>

