<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！ よろしくお願いします！ </p>
        </div>

        <div>
            <h1>見出し</h1>
            <h2>見出し</h2>
            <h3>見出し</h3>
            <h4>見出し</h4>
            <h5>見出し</h5>
            <h6>見出し</h6>
            <p>完全0から始める完全0から始める完全0から始める完全0から始める完全0から始める完全0から始める完全0から始める完全0から始める完全0から始める完全0から始める完全0から始める</p>
            <p>Webデザイン/プログラミング</p>
            <a href="https://www.photo-ac.com/" target="_blank">ZeroPlus</a>
            <p>公開日: 2023/02/3, 18:20</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
            <button class="favorite styled"
            type="button">
            Add to favorites
            </button>
        </div><img src="/images/bird-gfb65d9ab9_1920.jpg" alt="写真" width="193" height="130">
    </body> <img src="/images/pexels-luis-del-río-15286.jpg" />
</html>

